*.class
target
*.log
temp
*.swp
*.bak
.classpath
.project
.settings
.DS_Store
*Protos.java
build
!effect_platform_pem/src/test/resources/treebuilder/*.log
!effect_platform_pem/src/test/resources/storm/*.log
!effect_platform_pem/src/test/resources/hbase/*.log
/*.yaml
.svn
*.iml
.idea

